@import '../Variables.module.scss';

.itemInfo {
  display: grid;
  grid-template-rows: 10% 30% 30% 30%;
  justify-items: center;
  align-items: flex-start;
  border: 1px solid rgb(12, 11, 11);
  font-family: 'Mulish', sans-serif;
}


.itemTitle {
  display: flex;
  width: 100%;
  height: 100px;
  align-items: center;
  justify-content: center;
  background: $gradientePrincipal;
  font-size: 34px;
  color: white;
}
.itemTitle2 {
  display: flex;
  width: 100%;
  height: 100px;
  align-items: center;
  justify-content: center;
  font-size: 34px;
  border-bottom: 2px solid $colorIcon;
}
.itemParraf {
  height: 100px;
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: justify;
  font-size: 18px;
  margin-bottom: 25px;
  line-height: 40px;
}
.itemButton {
  display: flex;
  width: 100%;
  height: 30%;
  justify-content: space-around;
  align-items: center;
}
.itemButtonRun {
  height: 35px;
  width: 145px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: $colorIcon;
  background-color: white;
  border-radius: 20px;
  border: 1px solid $colorIcon;
  padding-top: 3px;
  &:hover {
    color: white;
    background-color: $colorIcon;
    border: 0.5px solid $colorHover;
    box-shadow: 0px 2px 2px 0px black;
  }
}

.itemButtonSubmit {
  height: 35px;
  width: 145px;
  color: white;
  background: $gradientePrincipal;
  border-radius: 20px;
  border: 1px solid $colorIcon;
  &:hover {
    color: $colorIcon;
    background: white;
    border: 0.5px solid $colorHover;
    box-shadow: 0px 2px 2px 0px black;
  }
}