
.footer_container { 
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.description {
    color: white;
    font-size: 15px;
    text-align: center;
}