* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Mulish', sans-serif;
  font-size: 100%;
  background-color: white;
}

a {
  text-decoration: none;
}