@import '../styles/Variables.module.scss';

.header {
  display: flex;
  width: 100%;
  height: 9.6vh;
  border-bottom: 3px solid $colorIcon;
  justify-content: space-evenly;
  align-items: center;
}
.logo {
  width: 130px;
  height: 40px;
  margin-left: 44px;
}
.navBar {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
}
