.container {
  overflow-y: hidden;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 18% 62% 20%;
    grid-template-rows: 80px 20% 35% 35%;
    grid-template-areas:
    " header header header"
    " navbar minicards systemp"
    " navbar achievements systemp"
    " navbar graph ."
    ;
  }
  .iheader {
    grid-area: header;
  }
  .inavbar {
    grid-area: navbar;
  }
  .iminicards {
    grid-area: minicards;
    align-self: center;
  }
  .isystem {
    grid-area: systemp;
    justify-self: center;
    align-self: center;
  }
  .iachievements {
    grid-area: achievements;
    display: block;
    justify-content: center;
    align-self: center;
  }
  .igraph {
    grid-area: graph;
    width: 75%;
    justify-self:center;
    align-self: center;
  }
  .ifooter {
    grid-area: footer;
    /* background-color: blue; */
  }