.container {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 250px 40px 780px 40px 290px;
    grid-template-rows: 60px 170px 25px 300px 350px 25px 50px;
    grid-template-areas:
    " header header header header header"
    " navbar .  minicards . systemp"
    " navbar .  . . systemp "
    " navbar .  achievements . ."
    " navbar .  graph . ."
    " navbar .  . . ."
    " footer  footer footer footer footer"
    ;
}


.iheader {
    grid-area: header;
}
.inavbar {
    grid-area: navbar;
}

.iminicards {
    grid-area: minicards;
    align-self: center;
}

.isystem {
    grid-area: systemp;
}

.iachievements {
    grid-area: achievements;
}

.igraph {
    grid-area: graph;
}

.ifooter {
    grid-area: footer;

}