@import '../styles/Variables.module.scss';
.container {
    width: 300px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.first_circle {
    width: 200px;
    height: 200px;
    border-radius:50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 40px solid #555BFF;
}

.second_circle {
    width: 200px;
    height: 200px;
    border-radius:50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 40px solid #555BFF;
    margin-top: 20px;
}

.text {
    background-color: white;
    font-size: 2rem;
    padding-top: 10px
}