@import '../styles/Variables.module.scss';

.login_button{
  margin-right: 50px;
  border: none;
  outline: none;
  background: $gradientePrincipal;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  font-family: 'Mulish', sans-serif;
  padding: 0.9rem 2.6rem;
  border-radius: 6px;
  text-decoration: none;
  cursor: pointer;
}

.logout_button{
  margin-right: 5px;
  border: none;
  outline: none;
  background: $gradientePrincipal;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  font-family: 'Mulish', sans-serif;
  padding: 0.9rem 2rem;
  border-radius: 6px;
  text-decoration: none;
  cursor: pointer;
}

.profile {
  display: flex;
  flex-direction: row-reverse;
  right: 100px;
}

.img_profile{
  height: 50px;
  margin: 0px 80px 0px 10px;
  border-radius: 50%;
}

.profile_data{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.h2-profile__nombre{
  font-size: 30px;
  margin: 10px;
}

.p-profile__email{
  font-size: 20px;
  margin: 0;
}

.contenedor_hb{
  display: flex;
  flex-direction: column;
  align-items: center;
}
